<h1> Edit Your Greyhound </h1>

<form method="post" action='/greyhounds/<%=@greyhound.id%>'>
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Name:<input type="text" name="name" value="<%= @greyhound.name %>"><br>
  Favorite Food:<input type="text" name="food" value="<%= @greyhound.food %>"><br>
  Fastest Time:<input type="text" name="food" value="<%= @greyhound.time %>"><br>
  Racing Grade<input type="text" name="food" value="<%= @greyhound.grade %>"><br>
  <input type="submit" value="submit">
</form>
