<h1> Welcome, <%= current_kennel.name %> ! </h1>
  <h2> Your Hounds </h2>

  <% if @greyhounds.length < 1 %>
  <p> Your Kennel is Empty!!</p><br><br>
  <a href="/greyhounds/new">Add a Greyhound!</a>

  <% else %>

  <% @greyhounds.each do |greyhound| %>
  <br>
  <h4>NAME: <%= greyhound.name %></h4><br><br>
  <p>Favorite Food:  <%= greyhound.food %><br></p>
  <p>Best Race Time:  <%= greyhound.time %><br></p>
  <p>Racing Grade:  <%= greyhound.grade %></p><br><br>
  <a href="/greyhounds/<%=greyhound.id%>/edit">Edit Your Hound!</a><br><br>

  <% end %>
  <br><br>
  <a href="/greyhounds/new">Got Another Greyhound? Add Another!</a><br>
  <a href="/logout">Logout!</a>
  <% end %>
