<h4><%= @greyhound.name %></h4><br>
<p>Racing Kennel: <%= @greyhound.kennel.name %></p><br>
<p>Favorite Food: <%= @greyhound.food %></p><br>
<p>Fastest Time: <%= @greyhound.time %></p><br>
<p>Racing Grade: <%= @greyhound.grade %></p><br>
  <form method="post" action='/greyhounds/<%=@greyhound.kennel_id%>/delete'>
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Greyhound"><br><br>
  </form>

  <a href="/greyhounds/<%=@greyhound.kennel_id%>/edit">Edit Greyhound</a><br><br>
  <a href="/greyhounds">Back to your Greys</a>
